/*resetando o documento*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.clear {
    clear: both;
}

/*cabeçalho da página*/

header>div>#desktop {
    display: flex;
}


header>div>form>#search_bar {
    width: 100%;
    height: 3vw;
    background-color: #FFF;
    border-style: none;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 1vw;
    background-image: url(../assets/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: 3vw;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding-left: 50px;
}

header>div>form>#search_bar:focus {
    outline: none;
    border-bottom: 1px solid #fc5b20;
}

header>div>#options_desktop>ul>li {
    display: inline-block;
    padding-inline: 2.5vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125vw;
}

header>div>#options_desktop>ul>li>a {
    color: #000000;
    text-decoration: none;
    transition: 0.1s;
}

header>div>#options_desktop>ul>li>a:hover {
    color: #000000;
    text-decoration: underline;
    transition: 0.1s;
}

/*mobile*/
header>div>#mobile {
    display: none;
}

header>form>#mobile_search_bar {
    display: none;
    width: 100%;
    height: 35px;
    background-color: #FFF;
    border-style: none;
    border-bottom: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px;
    background-image: url(../assets/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding-left: 50px;
}

header>form>#mobile_search_bar:focus{
    outline: none;
    border-bottom: 1px solid #fc5b20;
}

header>div>#mobile>ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    right: 5px; 
    font-size: 2vh;
    z-index: 1;
}

header>div>#mobile>ul a {
    text-decoration: none;
}

header>div>#mobile>#search {
    display: none;
}

header>div>#mobileSearch {
    display: none;
}

header>form#mobile>input {
    display: none;
}

@media only screen and (max-width: 990px) {

    header>div>#options_desktop {
        display: none;
    }

    header>div>#mobile {
        display: block;
    }

    header>#opsMobile>ul {
        position: absolute;
        top: 100px;
        background-color: gray;
        border: solid 0.1vh black;
        list-style: none;
    }

    #desktop {
        width: 100vh;
    }

    header>div>#mobile {
        display: flex;
    }

}

@media only screen and (max-width: 550px) {
    header>div>#mobile>#search {
        display: block;
    }

    header>div>#desktop {
        display: none;
    }

    #search_bar {
        border-bottom: none;
    }
}

#userUl {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 90%;
    right: 5px;
    font-size: 2vh;
    z-index: 1;
}
