.margin-top-bottom {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.margin-inline {
    margin-inline: 5vh;
}

.padding {
    padding: 10px;
}

section>form>table td {
    padding: 10px;
}

.carousel {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    width: 1000px;
    height: 450px;
}

.carousel h5 {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.carousel p {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#card {
    width:32vw;
    height:22vw;
}

.card-body {
    font-size: 2vh;
}

.card-body h5 {
    font-size: 3vh;
}

@media only screen and (min-width: 600px) {

    .card-body {
        margin-left: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    #card {
        width: 100%;
        height: 40vw;
    }
}