.hover figure {
    position: relative;
    margin: 0;
}

.hover figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, #ffffff00 0%, #ffffff85 100%);
    background: linear-gradient(to right, #ffffff00 0%, #ffffff85 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 70%;
    }
}

@keyframes shine {
    100% {
        left: 70%;
    }
}